* {
	box-sizing: border-box;
	font-weight: 100;
	font-family: 'Roboto', sans-serif;
}

html, body {
	height: 100%;
}

button {
	background: teal;
	padding: 10px;
	font-size: 1.3em;
	color: white;
	border-radius: 5px;
	margin-bottom: 10px;
}

body {
	background: var(--backgroundColor);
}

table {
	width: 100%;
}

*[disabled="true"],
*[disabled] {
	background: #EEE;
	box-shadow: inset 0 0 0 #EEE;
	border: 1px solid #CCC;
}

thead {
	th, 
	td {
		font-weight: bold;	
		text-align: left;
	}
}

hr {
	margin: 0;
	padding: 0;
	border: 0;
	border-top: 1px solid #999;
	width: 100%;
}