/* Variables */
@import './global/styles/_variables.css';

/* Global Baseline */
@import './global/styles/Global.css';
@import './global/styles/Modifiers.css';
@import './global/styles/FeatureBlocks.css';
@import './global/styles/Tabs.css';

.app, 
.app-container {
	height: 100%;
}

.app-container {
	display: flex;
	flex-direction: column;
	flex: 1 0 100%;
}

table {
	width: 100%;
}

input {
	display: block !important;
	width: 100%;
}
button {
	margin-bottom: 0;
	padding: 10px;
	min-height: 50px;
}

td {
	padding-top: 0;
	text-align: top;
	margin-bottom: 20px;
	
	&:nth-child(1){
		max-width: 100px;
	}
	&:nth-child(2){
		max-width: 100px;
	}
}

img {
	max-width: 100%;
}

html {
	max-width: 320px;
	margin: auto;
}

.right {
	position: relative;
	button {
		width: 280px;
	}

	td {
		position: relative;
	}
	button {
		position: absolute;
	}
}

img {
	margin-top: 60px;
	height: 280px !important;
}